@import "https://itspixelivy-projects.github.io/design-palette/shared_design.css";

:root {
  font: 18px/145%;
  letter-spacing: 0.18px;
  color: var(--text-col);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}
    
body {
  margin: 0;
}