GONIC_USER = "admin"
GONIC_PASSWORD = "admin"
GONIC_HOST = "http://gonic"
GONIC_PORT = 80

EXTERNAL_HOST = "http://localhost"

REDIS_HOST = "redis"
REDIS_PORT = 6379

VITE_FASTAPI_URL = "http://localhost:8000"

TWITCH_CLIENT_ID = "get-from-twitch"
TWITCH_CLIENT_SECRET = "get-from-twitch"